<div class="grid">
    <div class="image" [ngStyle]="style"></div>
    <div class="content-wrapper">
        <div class="content">
            <div class="title">{{ event.name }}</div>
            <div class="description">{{ event.description }}</div>

            <div class="section-container">
                <div class="section">
                    <div class="icon-container">
                        <app-clock-icon></app-clock-icon>
                    </div>
                    <div>{{ event.time }} мин.</div>
                </div>
                <div class="section">
                    <div class="icon-container">
                        <app-people-icon></app-people-icon>
                    </div>
                    <div>
                        {{ event.maxCountParticipants }} (Учавствуют:
                        {{ event.participantEmails.length }})
                    </div>
                </div>
                <div class="section">
                    <div class="icon-container">
                        <app-currency-icon></app-currency-icon>
                    </div>
                    <div>{{ event.price }}</div>
                </div>

                <div class="section">Создатель: {{ event.ownerEmail }}</div>
            </div>

            <div class="actions">
                <button mat-raised-button (click)="handleParticipate()">
                    Учавствовать
                </button>
            </div>
        </div>
    </div>
</div>
