<div class="grid">
    <div class="image-container" [ngStyle]="style"></div>
    <div class="content-wrapper">
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            at doloremque dolores fugiat illo labore, quis quo recusandae vero?
            Nihil quo reiciendis suscipit voluptatum. Commodi dolor explicabo
            optio saepe veniam. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Accusamus at doloremque dolores fugiat illo
            labore, quis quo recusandae vero? Nihil quo reiciendis suscipit
            voluptatum. Commodi dolor explicabo optio saepe veniam. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Accusamus at
            doloremque dolores fugiat illo labore, quis quo recusandae vero?
            Nihil quo reiciendis suscipit voluptatum. Commodi dolor explicabo
            optio saepe veniam.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Accusamus at doloremque dolores fugiat illo
            labore, quis quo recusandae vero? Nihil quo reiciendis suscipit
            voluptatum. Commodi dolor explicabo optio saepe veniam. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Accusamus at
            doloremque dolores fugiat illo labore, quis quo recusandae vero?
            Nihil quo reiciendis suscipit voluptatum. Commodi dolor explicabo
            optio saepe veniam. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Accusamus at doloremque dolores fugiat illo
            labore, quis quo recusandae vero? Nihil quo reiciendis suscipit
            voluptatum. Commodi dolor explicabo optio saepe veniam. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Accusamus at
            doloremque dolores fugiat illo labore, quis quo recusandae vero?
            Nihil quo reiciendis suscipit voluptatum. Commodi dolor explicabo
            optio saepe veniam. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Accusamus at doloremque dolores fugiat illo
            labore, quis quo recusandae vero? Nihil quo reiciendis suscipit
            voluptatum. Commodi dolor explicabo optio saepe veniam.
        </div>
    </div>
</div>
