.grid {
    display: grid;
    height: 100%;
}

.image {
    height: 100%;
    width: 100%;
}

.content-wrapper {
    background-color: #fff;
    /*margin-top: -40%;*/
    /*border-radius: 30px;*/
    /*padding: 3rem;*/
}
