/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font: 14px/16px 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    height: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
