.title {
    color: #999;
    font-size: 1.2rem;
    margin: 0.4rem 0;
    transition: color 0.2s ease;
}

.container {
    position: relative;
}

input {
    height: 3.2rem;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-family: 'Siemens Sans', sans-serif;
    border: 0.1rem solid #eee;
    border-radius: 0.2rem;
    padding: 0.8rem;
    box-sizing: border-box;
    outline-color: #6295dd;
    transition: outline-color 0.2s ease;
    background-color: #fff;
    color: #000;
}

input:disabled {
    background-color: #eee;
}

.selected .title {
    color: #6295dd;
}
